:root {
  --font-mono: ui-monospace, monospace, arial;
  --PRIMARY-COLOR: rgba(4, 112, 228, 0.99);
  --SECONDARY-COLOR: rgba(196, 5, 5, 0.99);
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url('../../public/DALLE-spacewhale3.png');
  background-size: cover;
}
